@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.playarea {
    max-width: 100%;
    text-align: center;
}

.cookie {
    transition: all .0625s ease-out;
    transform: scale(1);
}

.cookie:active {
    transform: scale(0.95);
}

.shopButton {
    max-width: 24%;
    transition: all .1s ease-in-out;
    width:350px;
    height: 80px;
    background-color: #b5b5b5;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

.shopButton:hover {
    background-color: #e6e6e6;
}

.shopButton:active {
    background-color: #7a7a7a;
}

.shopButton #image {
    width:25%;
}

.shopButton img {
    height: 64px;
    width: 64px;
    vertical-align: middle;
    border-radius: 10px;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 80%;
    vertical-align: middle;
    font-size: 15px;
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 20px;
}

.shopButton #total {
    font-size: 24px;
    font-weight: 650;
    text-align: right;
    padding-right: 10px;
    padding-left: 0px;
}